{% extends "../../store/base.html" %}
{% load static %}

{% block content %}

<div class="container" style="max-width: 1000px">
    <form action="." method="post">
      {% csrf_token %}
      {{form}}
      <button type='submit'> Get Date</button>
    </form> 
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Order #</th>
              <th scope="col">Created By</th>
              <th scope="col">Paid</th>
              <th scope="col">Date Paid</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
              <th scope="row">{{sale.order_number}}</th>
              <td>{{ sale.user }}</td>
              <td>₵{{ sale.total_paid }}</td>
              <td>{{ sale.created.date }}</td>
            </tr>
        {% endfor %}
        <tr>
          <td>Total</td>
          <td></td>
          <td>{{total}}</td>
          <td></td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}

